.vsc-initialized {
    background-color: #647C90;
    color: #E2DED0;
}

.movie-name {
    margin: 30px 30px;
    height: 50px;
    width: 500px;
    font-size: 30px;
    background-color: #EEEDE7;
}

button {
    background-color: #E2DED0;
    height: 35px;
    border-radius: 6px;
}

